html{
    margin: 0; 
}
section{
    display: flex;
    justify-content: center;
}
#container{
    width: 960px;
    margin: auto;
}
.content1{
    width:960px;
    height: 200px;
    background-color:green;
}
.content2{
    width:300px;
    height: 200px;
    background-color: blue;
    margin: 10px;
}
.content3{
    width:950px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
}