html{
    margin: 0; 
}
section{
    display: flex;
    justify-content: center;
}
#container{
    width: 100%;
    margin: auto;
}
.content1{
    width:100%;
    height: 200px;
    background-color:green;
}
.content2{
    width:31.25%;
    height: 200px;
    background-color: blue;
    margin: 1.0417%;
}
.content3{
    width:15.625%;
    height: 200px;
    background-color: yellow;
    margin: 0.521%;
}