/* 책 추천으로 바꾸기 */
h1{
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
}

button{
    position:relative;
    background-color: orange;
    border-radius: 100%;
    border-color: white;
    font-size: 45px;
    text-align: center;
}

#wrapper{
    width: 90%;
    max-width: 1100px;
    min-width: 760px;
    margin: 50px auto;
}
#columns{
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
}

.card{
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border: 2px solid #aaa;
    border-bottom:3px solid #bbb;
    padding: 15px;
    padding-bottom: 15px;
    margin: 15px;
    border-radius: 5%;
}
.card img{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-radius: 5%;
}
.card p{
    font-family:Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 10px;
    /* hidden속성을 넣은 것들은 안보이다가 마우스 올려놨을 때 나타나게 */
}

.card:hover{
    background-color: #ccc;
}
button:hover{
    background-color: white;
    color: orange;
    border-color: orange;
    /* 색 변할 때 애니메이션 넣기 */
}

@media(min-width:800px){
    #columns{
        column-count: 3;
    }
}

@media(min-width: 1000px){
    #columns{
        column-count: 4;
    }
}